{{#if resume.education.length}}
  <div class="skills-container">
    <section class="container">
      {{> title value="Education"}}
      {{#each resume.education}}

        <h4 class="bold">
          {{#if website}}
            <a href="{{website}}" target="_blank">
              {{institution}} <i class="fa" aria-hidden="true"></i>
            </a>
          {{else}}
            {{institution}}
          {{/if}}
        </h4>
        <h4>{{#if studyType}}{{studyType}} {{/if}}{{#if area}}{{area}}{{/if}}</h4>

        <h5 class="italic">
          {{#if startDate}}
            <span class="startDate">{{formatDate startDate}}</span>
            {{#if endDate}}
              <span class="endDate"> - {{formatDate endDate}}</span>
            {{else}}
              <span class="endDate"> - Present</span>
            {{/if}}
          {{else if releaseDate}}
            {{formatDate releaseDate}}
          {{/if}}
        </h5>

        {{#if location}}
          <h5 class="location">{{location}}</h5>
        {{/if}}
      {{/each}}
    </section>
  </div>
{{/if}}


